.winning-numbers-container .winning-number {
    position: absolute;
    top: -100px; /* Off-screen */
    opacity: 0;
    font-size: 3rem;
    color: green;
    font-weight: bold;
    transition: top 1s ease-in-out, opacity 1s ease-in-out;
    height: auto;
}

.number {
    font-family: 'Valera Round', sans-serif;
    font-weight: bold;
}

.selected-numbers-live .selected-numbers {
    background-color: #ffdd00;
    padding: 12px 16px;
    border-radius: 8px;
}

.selected-numbers-live .selected-numbers .selected-number {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #141414;
    font-size: 18px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 50%;
    border: 3px solid #ffc800;
}

.past-game__row {
    padding: 4px 12px;
    vertical-align: middle;
}

.past-game__index {
    min-width: 40px;
}

.past-game__container .btn-link {
    text-decoration: none;
    color: #353535;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

.past-game__table tr:nth-of-type(even) {
    background-color: rgb(243, 243, 243);
}

.draw-numbers-container {
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
}

.draw-numbers-button {
    background-color: #0078d0;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    font-size: 18px;
    font-weight: 600;
    outline: 0;
    padding: 16px 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
.draw-numbers-button:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
}
  
.draw-numbers-button:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
}
  
@media (min-width: 768px) {
    .draw-numbers-button {
        padding: 16px 48px;
    }
}

.winning-number-falling {
    animation: fallAnimation 0.5s ease-out;
}
  
@keyframes fallAnimation {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}