.number-picker {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
    width: 320px;
  }
  
  .number {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7d200;
    color: #141414;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
  }
  
  .selected {
    background-color: #c5aa11;
  }
  
  .selected-numbers-live .selected-numbers {
    margin-top: 20px;
  }
  
  .selected-number {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #c5aa11;
    color: #ffffff;
    font-size: 16px;
  }